@use './variables.scss' as *;

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin heading {
  color: $dark-blue;
  font-family: $heading-font;
  font-weight: 700;
  font-size: 2rem;
}

@mixin text {
  color: $grey-blue;
  font-family: $text-font;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.5;
}

@mixin button { 
  border-color: transparent;
  border-style: none;
  border-radius: 2px;
  font-family: $text-font;
  cursor: pointer;
}
