$heading-font: 'Roboto Mono', monospace; 
$text-font: 'Roboto', sans-serif;
$bg-color: #e4e2e0;
$dark-blue:  #061f4a;
$light-grey: #aeb0b5;
$lightest-grey: #f1f1f1;
$grey-blue: #384558;
$dark-grey: #5b616b;