@use '../../abstract/mixins.scss' as *;
@use '../../abstract/variables.scss' as *;

.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: $lightest-grey;
  height: fit-content;
  outline: 1px solid $light-grey;

  @include tablet {
    padding: 1rem;
    width: 325px;
    margin-bottom: 1.5rem;
  }

  @include laptop { 
    width: 450px;
    margin-bottom: 2rem;
  }

  @include desktop {
    width: 500px;
  }
}

.image { 
  display: flex;
  justify-content: flex-start;
}

.cardImage { 
  object-fit: contain;
  width: 100%;
}


.heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0.5rem 0;

  @include desktop { 
    padding: 1rem 0;
  }
}

.heading, .explanation, .footer {
  padding-left: 2px;
  padding-right: 2px;
}

.title, .date { 
  font-family: $heading-font;
  font-weight: 700;
  line-height: 1.6;
} 

.title {
  font-size: 1.125rem;
  color: $dark-blue;

  @include tablet {
    font-size: 1.25rem;
  }

  @include desktop { 
    font-size: 1.5rem;
  }
}

.date { 
  font-size: 0.7rem;
  color: $grey-blue;
  white-space: nowrap;
  margin-top: 0.2rem;
  margin-left: 0.5rem;

  @include tablet {
    font-size: 0.9rem;
    margin-top: 0.4rem
  }

  @include desktop { 
    font-size: 1rem;
  }
}

.explanation { 
  @include text;
  position: relative;

  margin-bottom: 1.5rem;
  height: 70px;
  overflow: hidden;
  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    display: block;
    height: 30px;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(241,241,241,1) 100%);
  }
}

.showExplanation { 
  height: auto;

  &::after { 
    display: none;
  }
} 

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expandButton {
  background-color: transparent;
  color: $dark-blue;
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0.5rem;
  @include button;

  &:active {
    outline: 1px solid $light-grey;
  }

  @include tablet { 
    font-size: 1rem;
  }

  @include desktop { 
    font-size: 1.25rem;
  }
}

.likeButton {
  @include button;
  background-color: $dark-blue;
  color: #FFF;
  font-size: 1rem;
  font-weight: 300;
  padding: 0.125rem 1rem;
  border-radius: 3px;
  transition: box-shadow 250ms;
  &:hover {
    box-shadow: 4px 4px 5px rgba(0,0,0,0.25);
  }

  @include tablet { 
    font-size: 1rem;
    padding: 0.25rem 1.25rem;
  }
  
  @include desktop { 
    font-size: 1.25rem;
    padding: 0.5rem 2rem;
  }
}

.likeButtonActive { 
  background-color: #0b3d91;
}

