@use './abstract/mixins.scss' as *;
@use './abstract/variables.scss' as *;

* { 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body { 
  background-color: $bg-color;
  padding: 1rem;

  @include tablet {
    padding: 1.5rem;
  }
}

.heading {
  @include heading;
  text-align: center;
  margin-bottom: 1rem;

  @include tablet {
    padding-bottom: 0.5rem;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;

  @include tablet { 
    flex-direction: row;
    justify-content: space-evenly;
    
  }
}